* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-size: 16px;
    background-color: blue;
}

#header-nav {
    background-color:black;
    width: 100%;
    margin: 0px;
    border: 0;
}

.navbar-brand {
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px #222;
    margin: 1vw 0vw 0vw 2vw !important;
    color:white !important;
}

#myNavbar ul li a {
    color:white;
    text-align: center;
}

nav li a:hover{
background-color: blue !important;
}

.navbar-default .navbar-toggle{
    border-color:blue;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color:blue;
}
 .navbar-default .navbar-toggle .icon-bar{
    background-color:blue;
 }


.heading {
    text-align: center;
    color:white;
}

.glyphicon {
    font-size: 30px;
    color:white;
}

h2 {
    text-align: center;
}

#para {
    background-color:pink;
    margin-bottom: 4vw;
}

